  <!-- Bootstrap core CSS -->


  <style>
      @media (min-width: 768px)
       {
          .h-md-100 {
              height: 100vh;
          }

      }

      .btn-round {
          border-radius: 30px;
      }

      .bg-gold {
          background: #F8D2A9;
      }

      .bg-cyan {
          background: #B5DEDE;
      }

      .bg-diamond {
          background: #AACEF2;
      }

      .bg-lowgrey {
          background: rgb(236, 226, 236);
      }

      .text-red {
          color: #c21b17;
      }

      .text-cyan {
          color: #35bdff;
      }

      .text-black {
          color: #000000;
      }

      .text-value {
          font-size: 1.3125rem;
          font-weight: 600;
      }


      * {
          box-sizing: border-box;
      }

      .img-magnifier-container {
          position: relative;
      }

      .img-magnifier-glass {
          position: absolute;
          border: 3px solid #000;
          border-radius: 30px;
          cursor: none;
          /*Set the size of the magnifier glass:*/
          width: 160px;
          height: 80px;
      }

      .w-95prc {
          width: 95%;
      }

      .mercedes {
          color: #777;

      }
  </style>
  <!-- Material Design Bootstrap -->


  <script src="up/js/vendor/jquery.ui.widget.js"></script>
  <script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
  <script src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="js/loadingoverlay.min.js"></script>
  <script src="js/u4a.js"></script>

  <div class="animated fadeIn mr-auto">
      <div class="container mx-auto p-0">
          <div class="row align-content-top mx-auto" id="div-step1">
              <div class="container col-md-12 mx-auto my-3">

                  <section class="p-0">
                      <h2 class="secondary-heading mb-2">
                          <table>
                              <tr>
                                  <td>
                                      Référence dossier : </td>
                                  <td><input type="text" value="" placeholder="entrez la référence " name="ed_doss"
                                          class=" my-2 form-control col-sm-6"
                                          style="border: 1px solid #E8563C;width:400px" id="ed_doss" />
                                  </td>
                                  <td>
                                      Position #</td>
                                  <td>
                                      <input type="number" placeholder="numéro " name="ed_npos" id="ed_npos"
                                          class=" my-2 form-control "
                                          style="border: 1px solid #E8563C;width:80px;text-align: right;" value=" 1" />
                                  </td>
                              </tr>
                          </table>
                      </h2>

                     <p>Téléchargez les justificatifs:</p>
                      <div class="file-upload-wrapper">

                          <center>
                              <table>
                                  <tr>
                                      <td align="center">
                                          <h2>Facture</h2>
                                          <span class="input-group mb-3" style="width:300px;margin: 10px">
                                              <input type="file" id="file_facture" class="file_upload" />
                                          </span>
                                          <p>Justificatif de possesion (jpg, png, pdf) <span id="h2facture"></span></p>
                                          <td />
                                      <td align="center">
                                          <h2>Certificat</h2>
                                          <span class="input-group mb-3" style="width:300px;margin: 10px">
                                              <input type="file" id="file_certificat" class="file_upload"
                                                  style="width:350px" />
                                          </span>
                                          <p>Justificatif de valeur (jpg, png, pdf) <span id="h2certificat"></span></p>
                                          <td />
                                      <td align="center">
                                          <h2>Photo</h2>
                                          <span class="input-group mb-3" style="width:300px;margin: 10px">
                                              <input type="file" id="file_photo" class="file_upload"
                                                  style="width:350px" />
                                          </span>
                                          <p>Justificatif d'existence (jpg, png, pdf) <span id="h2photo"></span></p>
                                      </td>
                                  </tr>
                              </table>
                              <br>
                              <button class="btn btn-danger px-4" style="background-color: #c21b17" type="button"
                                  onclick="ephod()">Continuer</button>
                          </center>


                      </div>

                  </section>
              </div>
          </div>

          <div class="container col-md-12 col-lg-12  mx-auto my-3" id="div-step2">
              <form class="form-inline">
                  <div class="row">
                      <!-- Extra DAta-->
                      <div class=" col-md-6 col-lg-6">
                          <div class="card">
                              <div class="card-header"><i class="fa fa-align-justify"></i>Réclamation

                              </div>
                              <div class="card-body text-center col-md-12 col-lg-12">
                                  <h2 class="secondary-heading">
                                      Description du bijou : </h2>
                                  <input type="text" value="" placeholder="la description du bijou " name="ed_descr"
                                      id="ed_descr" class=" my-2 form-control "
                                      style="border: 1px solid #E8563C;width:90%" />

                                  <p>Description du bijou comme saisie par l'assuré dans le dossier.

                                  </p>
                                  <h2 class="secondary-heading mb-2">
                                      Date d'achat (<span title="saisie obligatoire" style="color:  #E8563C">*</span>)
                                  </h2>
                                  <input type="date" value="" placeholder="entrez la date " name="ed_buydate"
                                      id="ed_buydate" style="width:600px;border: 1px solid #E8563C"
                                      class="my-1 form-control col-md-6" />

                                  <p>Date d'entrée en possession du bijou.

                                  </p>
                                  <h2 class="secondary-heading mb-2"> Somme reclamée </h2>
                                  <div class="input-prepend input-group col-md-7 col-lg-7 mx-auto">

                                      <input class="form-control" id="ed_reclam" size="10" type="number"
                                          style="text-align: right;border-left: 1px solid #E8563C;border-bottom: 1px solid #E8563C;border-top: 1px solid #E8563C">
                                      <div class="input-group-append"><span class="input-group-text"
                                              style="border-right: 1px solid #E8563C;border-bottom: 1px solid #E8563C;border-top: 1px solid #E8563C">€</span>
                                      </div>
                                  </div>
                                  <p>Montant reclamé par l'assuré(e)

                                  </p>

                                  <div class="row">
                                      <div class="col-lg-6 col-md-6 mx-auto">

                                          <button class="btn bg-white px-4 " type="button" onclick="ephod0()"
                                              style="border:1px solid #c21b17">
                                              Retour
                                          </button>
                                          &nbsp;&nbsp;&nbsp;&nbsp;
                                          <button class=" btn btn-danger px-4   " type="button"
                                              style=" background-color: #c21b17" onclick="ephod2()">
                                              &nbsp;&nbsp;Evaluer&nbsp;&nbsp; </button>


                                      </div>

                                  </div>


                              </div>
                          </div>
                      </div>
                      <!-- RGPD-->
                      <div class="ml-5 col-md-5 col-lg-5">
                          <div class="card ml-5">
                              <div class="card-header"><i class="fa fa-align-justify"></i> Protection des données
                                  <div class="card-header-actions"><a class="card-header-action"
                                          href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees"
                                          target="_blank"><small class="text-muted">RGPD</small></a></div>
                              </div>
                              <div class="card-body">

                                  <div class="alert alert-warning" style="font-size: 0.7em" role="alert">
                                      <p class="p-0 m-0"> Je confirme que :</p>
                                      <ul>
                                          <li>je ne vais pas utiliser EPHOD.AI pour traiter des documents ou des données
                                              contenant des informations personnelles identifiables (IPI dans le sens de
                                              RGPD).
                                          </li>
                                          <li> si j'utilise ce type des données, c’est que je possède l’autorisation
                                              préalable de la personne concernée, mentionnant EPHOD SAS et ses
                                              sous-traitants (AWS,GCP).</li>
                                      </ul>
                                      <p class="p-0 m-0"> Dans tous les cas, je confirme que EPHOD SAS et ses
                                          partenaires :
                                          <ol>
                                              <li>Amazon Web Services EMEA SARL, 38 Avenue John F. Kennedy, L-1855,
                                                  Luxembourg</li>
                                              <li>GOOGLE IRELAND LIMITED, 3rd floor, Gordon House, Barrow Street, Dublin
                                                  4. IRELAND
                                              </li>
                                          </ol>

                                          ne peuvent pas être tenus responsables du contenu et du traitement de ces
                                          données, conformément au RGPD <br> ( « Le règlement général sur la protection
                                          des données») du 23 mai 2018.

                                          (<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees"
                                              target="_blank">
                                              "Le règlement général sur la protection des données - RGPD" du
                                              23 mai
                                              2018</a>)
                                      </p>


                                  </div>
                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="ck_gdpr">
                                      <label class="form-check-label" for="ck_gdpr">
                                          <b>Je confirme et je suis d'accord</b>(<span title="saisie obligatoire"
                                              style="color:  #E8563C">*</span>)

                                      </label>


                                  </div>
                              </div>
                          </div>
                      </div>


              </form>
          </div>
          <!--step2-->

      </div>
  </div>
  <div class="row align-content-top" id="div-step3">
      <!-- First Half -->
      <div class="col-sm-5 p-0  h-md-100">
          <div class=" d-md-flex align-items-top 
                    h-100 p-0 text-left justify-content-left">
              <div class="card w-95prc">
                  <div class="card-header p-2">

                      <table width="100%">
                          <tr>
                              <td>
                                  &nbsp;<span class="nav-icon icon-layers"></span>&nbsp;
                                  <strong>Justificatifs</strong>
                              </td>
                              <td align="right">
                                  <button class="btn btn-sm btn-primary" type="button" onclick="ephod0()"
                                      title="Retour au téléchargement" style="background-color: #c21b17;border: 1px solid #E8563C;">
                                      <i class="fa fa-undo"></i> </button>
                              </td>
                          </tr>
                      </table>


                  </div>
                  <div class="card-body">
                      <ul class="nav nav-tabs">
                          <li class="nav-item">
                              <a class="nav-link active" href="#" id="tabFacture"
                                  onclick="carusel('tabFacture')">Facture</a>
                          </li>
                          <li class=" nav-item">
                              <a class="nav-link" href="#" id="tabCertificat"
                                  onclick="carusel('tabCertificat')">Cértificat</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" id="tabPhoto" onclick="carusel('tabPhoto')">Photo</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" id="tabDescr" onclick="carusel('tabDescr')">Descriptif</a>
                          </li>
                      </ul>

                      <div class="img-magnifier-container">
                          <img src="https://ephod.ai/logo.png" id="myimage" style="border:1px solid #777;" />
                          <h3  id="txt_descr"></h3>
                        </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Second Half -->
      <div class="col-sm-4  d-md-flex align-items-top h-100 p-0 text-left justify-content-left">
          <div class="p-0 card h-md-100 w-95prc">
              <div class="card-header p-2">
                  
                  <table width="100%">
                    <tr>
                        <td>
                            &nbsp;<span class="nav-icon icon-pie-chart"></span>&nbsp;
                            <strong>Structure bijou</strong>
                        </td>
                        <td align="right">
                            <button class="btn btn-sm btn-primary " type="button" onclick="somehelp()"
                                title="Aide" style="border: 1px solid #E8563C;background: #f0f3f5;color:#777">
                                <i class="fa fa-question"></i> </button>
                        </td>
                    </tr>
                </table>
              </div>
              <div class="card-body p-1">
                  <div class="p-0">
                      <div class="card m-1">
                          <div class="card-header bg-gold p-1">
                              <table width="100%">
                                  <tr>
                                      <td>
                                          &nbsp;
                                          <span class="nav-icon fa fa-balance-scale"></span>&nbsp;
                                          <strong>Métal</strong>
                                      </td>
                                      <td align="right">
                                          <a class="btn btn-sm btn-warning" href="#base/au.html" onclick="gotogold()"
                                              title="Afficher le cours">
                                              <i class="nav-icon icon-graph" onclick="gotogold()"></i> </a>

                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="card-body p-2">
                              <form class="form-inline">
                                  <select class="zelectpicker form-control form-control-sm col-sm-3"
                                      data-show-subtext="true" data-live-search="true" id="cb_metal" onchange="reeval()">
                                      <option value="or" data-tokens="or">Or</option>
                                      <option value="argent" data-tokens="argent">Argent</option>
                                      <option value="platine" data-tokens="platine">Platine</option>
                                  </select>

                                  <select class="zelectpicker form-control form-control-sm col-sm-4"
                                      data-show-subtext="true" data-live-search="true" id="cb_karat"  onchange="reeval()">
                                      <option value="375" data-tokens="9K">375&#8240; - 9K</option>
                                      <option value="585" data-tokens="14K">585&#8240; - 14K</option>
                                      <option value="750" data-tokens="18K">750&#8240; - 18K</option>
                                      <option value="916" data-tokens="22K">916&#8240; - 22K</option>
                                      <option value="925" data-tokens="22K">925&#8240;</option>
                                  </select>
                                  <input class=" form-control form-control-sm col-sm-2" type="number"
                                      placeholder="poids(g)" value="0.00" id="ed_poids"  onchange="reeval()"/>
                                  <span class="text-black">g.&nbsp;&nbsp;<i id="eur_metal" class="mercedes">0
                                          €</i></span>
                              </form>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="card m-1">
                          <div class="card-header bg-diamond p-1">
                              <table width="100%">
                                  <tr>
                                      <td>
                                          &nbsp;<strong><i class="nav-icon icon-diamond"></i>
                                              &nbsp;Gemmes</strong>
                                      </td>
                                      <td align="right">
                                          <button class="btn btn-sm btn-primary" type="button" onclick="summon()"
                                              title="Rajouter une gemme">
                                              <i class="fa fa-plus"></i> </button>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="card-body p-1" id="gemscontainer">
                              <div class="card m-1" id="card_gem1">
                                  <div class="card-body p-1">
                                      <form class="form-inline">

                                          <select class="zelectpicker form-control form-control-sm col-sm-4"
                                              data-show-subtext="true" data-live-search="true" style="min-width: 10ch"
                                              id="cb_gem1_type"  onchange="reeval()">
                                              <option value="(none)" data-tokens="(none)" selected="selected">
                                                  --type--</option>
                                              <option value="diamant" data-tokens="diamant">Diamant
                                              </option>
                                              <option value="diamants" data-tokens="diamants">Pavé
                                                  diamants</option>
                                              <option value="saphir" data-tokens="saphire">Saphir
                                              </option>
                                              <option value="rubis" data-tokens="rubis">Rubis
                                              </option>
                                              <option value="emeraude" data-tokens="emeraude">
                                                  Émeraude
                                              </option>
                                              <option value="aigue-marine" data-tokens="aigue-marine">
                                                  Aigue-marine</option>
                                          </select>

                                          <input class=" form-control form-control-sm col-sm-3" style="min-width: 70px"
                                              type="number" placeholder="poids(g)" value="0.0" id="ed_gem1_ct"  onchange="reeval()" />
                                          <span class="text-black">ct.&nbsp;&nbsp;</span>


                                          &nbsp;&nbsp;<i id="eur_gem1" class="mercedes">0 €</i>
                                          &nbsp;&nbsp;
                                          <a onclick="kill('_gem1');reeval()" title="Effacer gemme">
                                              <i class="fa fa-trash text-red "></i></a>

                                          <select class="zelectpicker form-control form-control-sm  col-sm-4"
                                              data-show-subtext="true" data-live-search="true" id="cb_gem1_color"  onchange="reeval()">
                                              <optgroup label="Couleurs">
                                                  <option value="(none)" data-tokens="(none)" selected="selected">
                                                      --couleur--</option>
                                                  <option value="D" data-tokens="D">D : Blanc Excellent +
                                                  </option>
                                                  <option value="E" data-tokens="E">E : Blanc Excellent
                                                  </option>
                                                  <option value="F" data-tokens="F">F : Blanc Extra +
                                                  </option>
                                                  <option value="G" data-tokens="G">G : Blanc Extra
                                                  </option>
                                                  <option value="H" data-tokens="H" selected>H : Blanc
                                                  </option>
                                                  <option value="I" data-tokens="I">I : Nuancé </option>
                                                  <option value="J" data-tokens="J>">J-M : Foncé
                                                  </option>
                                              </optgroup>
                                              <optgroup label="Couleur probable">
                                                  <option style="background: #5cb85c; color: #fff;" value="H"
                                                      data-tokens="H" selected>(H) : Blanc
                                                      [défault]
                                                  </option>
                                              </optgroup>
                                          </select>


                                          <select class="zelectpicker form-control form-control-sm col-sm-5 "
                                              data-show-subtext="true" data-live-search="true" id="cb_gem1_clarity"  onchange="reeval()">
                                              <optgroup label="Puretés">
                                                  <option value="(none)" data-tokens="(none)" selected="selected">
                                                      --pureté--</option>
                                                  <option value="FL" data-tokens="FL">FL : Flawless
                                                  </option>
                                                  <option value="IF" data-tokens="IF">IF : Internally Flawless
                                                  </option>
                                                  <option value="VVS1" data-tokens="VVS1">VVS1 : Very Very
                                                      Slightly Included 1
                                                  </option>
                                                  <option value="VVS2" data-tokens="VVS2">VVS2 : Very Very
                                                      Slightly Included 2
                                                  </option>
                                                  <option value="VS1" data-tokens="VS1">VS1 : Very Slightly
                                                      Included 1
                                                  </option>
                                                  <option value="VS2" data-tokens="VS2">VS2 : Very Slightly
                                                      Included 2
                                                  </option>
                                                  <option value="SI1" data-tokens="SI1">SI1 : Slightly Included
                                                      1
                                                  </option>
                                                  <option value="SI2" data-tokens="SI2">SI2 : Slightly
                                                      Included 2
                                                  </option>
                                                  <option value="I1" data-tokens="I1">I1 : Included 1 </option>
                                                  <option value="I2" data-tokens="I2>">I2: Included (2+)
                                                  </option>
                                              </optgroup>
                                              <optgroup label="Pureté probable">
                                                  <option style="background: #5cb85c; color: #fff;" value="SI1"
                                                      data-tokens="SI1" selected>(SI1) : Petite inclusion
                                                      [défault]
                                                  </option>
                                              </optgroup>
                                          </select>
                                          <select class="zelectpicker form-control form-control-sm col-sm-2 "
                                              data-show-subtext="true" data-live-search="true" id="cb_gem1_cut"  onchange="reeval()">
                                              <optgroup label="Taille">
                                                  <option value="(none)" data-tokens="(none)">--taille--
                                                  </option>
                                                  <option value="rond" selected="selected">Rond</option>
                                                  <option value="princesse">Princesse</option>
                                                  <option value="brillant">Brillant</option>
                                                  <option value="poire">Poire</option>
                                                  <option value="ovale">Ovale</option>
                                                  <option value="marquise">Marquise</option>
                                                  <option value="baguette">Baguette</option>
                                                  <option value="coeur">Coeur</option>
                                                  <option value="emeraude">Émeraude</option>
                                                  <option value="asscher">Asscher</option>
                                                  <option value="coussin">Coussin</option>
                                                  <option value="radiant">Radiant</option>
                                                  <option value="trillon">Trillon</option>
                                                  <option value="ancienne">Ancienne</option>
                                              </optgroup>
                                          </select>


                                      </form>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="card m-1">
                          <div class="card-header bg-cyan p-1">
                              &nbsp;
                              <i class="nav-icon icon-trophy"></i>&nbsp;
                              <strong>Marque et Modèle</strong>
                          </div>
                          <div class="card-body">
                              <select class="zelectpicker form-control form-control-sm col-sm-4"
                                  data-show-subtext="true" data-live-search="true"  onchange="reeval()">
                                  <option data-tokens="aucune">--aucune--</option>
                                  <option data-tokens="cartier">Cartier</option>
                                  <option data-tokens="hermes">Hermès</option>
                                  <option data-tokens="dinh van">Dinh Van</option>
                              </select>

                              <select class="zelectpicker form-control form-control-sm col-sm-4"
                                  data-show-subtext="true" data-live-search="true"  onchange="reeval()">
                                  <option data-tokens="aucune">--aucune--</option>
                                  <option data-tokens="9K">Trinity</option>
                                  <option data-tokens="14K">Love</option>
                                  <option data-tokens="18K">Chance of Love</option>
                                  <option data-tokens="22K">Click n Clac</option>
                              </select>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <!--3rd half-->
      <div class="card col-sm-3 p-0" id="ecard">
          <div class="card-header p-2">
              <table width="100%">
                <tr>
                    <td>
                        &nbsp;<i class="nav-icon icon-speedometer"></i>&nbsp;
                        <strong>Evaluation</strong>
                    </td>
                    <td align="right">
                        <button class="btn btn-sm btn-primary " type="button" onclick="reeval()"
                            title="Reevaluer" style="border: 1px solid #E8563C;background: #f0f3f5;color:#777">
                            <i class="fa fa-sync"></i> </button>
                    </td>
                </tr>
            </table>
          </div>
          <div class="card-body">
              <div class="text-value" id="evalue">...en cours...</div>
              <div id="evaluecomment">EPHOD traite vos entrées...</div>
              <div class="progress progress-xs my-2">
                  <div class="progress-bar bg-warning" id="pgres" role="progressbar" style="width: 25%"
                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  </div>
              </div><small class="text-muted" id="evaluecomment2">Veuillez patienter quelques
                  sécondes...</small>
              <div>&nbsp;</div>
              <center>Structure de la valeur (%) </center>
              <div id="cacanvas" style="height: 200px">
                  <canvas id="canvas-6"> </canvas>
              </div>
          </div>
          <div class="card-footer">
              <div class="input-prepend input-group">
                  <label class="col-md-6 col-form-label-sm" for="appendedPrependedInput">Ajustement</label>
                  <input class="numar form-control" id="appendedPrependedInput" size="7" type="number" value="12.00">
                  <div class="input-group-append"><span class="input-group-text">%</span></div>

              </div>
              <button class="btn btn-sm btn-primary" type="submit" onclick="">
                  <i class="fa fa-dot-circle-o"></i>
                  OK
              </button>
          </div>
      </div>
  </div>
  <!-- end center-->
  </div>
  </div>
  </div>